<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqupt.mis.rms.dao.CQUPTRoleDao" >


  <resultMap id="BaseResultMap" type="com.cqupt.mis.rms.model.CQUPTRole" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <association column="role_level_id" property="roleLevel" javaType="com.cqupt.mis.rms.model.RoleLevel" />
  </resultMap>
  
  <resultMap type="com.cqupt.mis.rms.model.CQUPTRole" id="RolePurviewResultMap" extends="BaseResultMap">
  	<collection property="rolePurviews"  ofType="com.cqupt.mis.rms.model.RolePurview">
  	
  		<association property="purviewInfo" javaType="com.cqupt.mis.rms.model.ResourceInfo">
			<id column="resourceId" property="resourceId" jdbcType="INTEGER" />
		    <result column="resourceName" property="resourceName" jdbcType="VARCHAR" />
		    <result column="resourceUrl" property="resourceUrl" jdbcType="VARCHAR" />
		    <result column="resourceRemark" property="resourceRemark" jdbcType="VARCHAR" />
  		</association>
  	
  	</collection>
  </resultMap>
  
  <resultMap type="com.cqupt.mis.rms.model.CQUPTRole" id="RolePurviewDynResultMap" extends="BaseResultMap">
  	<collection property="rolePurviewDyns" ofType="com.cqupt.mis.rms.model.RolePurviewDyn">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="input" property="input" jdbcType="INTEGER"/>
		<result column="manage" property="manage" jdbcType="INTEGER"/>
		<result column="approve" property="approve" jdbcType="INTEGER"/>
		<result column="statistics" property="statistics" jdbcType="INTEGER"/>
		<association column = "class_id"  property="researchClass" resultMap="com.cqupt.mis.rms.dao.ResearchClassDao.ResearchClass"></association>

  	</collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    role_id, role_name, role_level_id, description
  </sql>
  
  	<!-- ************************************************************** -->
  	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cqupt_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  
	<!-- 登录时校验用户名和角色是否正确 -->
  <select id="findRoleLevel" resultMap="BaseResultMap">
  	SELECT r.`role_id`, `role_name`, `role_level_id`, `description`  
	FROM `cqupt_role` AS r, `user_role`
	WHERE user_role.`user_id` = #{userId,jdbcType=VARCHAR} AND `user_role`.`role_id` = #{roleLevelId,jdbcType=INTEGER} 
			AND r.`role_id` = user_role.`role_id`
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from cqupt_role
  </select>
  
  <select id="findRolePurviewByRoleId" resultMap="RolePurviewResultMap" parameterType="java.lang.Integer">
  	select
  	 <include refid="Base_Column_List" />,
  	 resource_info.resourceId,
  	 resource_info.resourceName,
  	 resource_info.resourceUrl,
  	 resource_info.resourceRemark,
  	 resource_info.parentId
  	 from cqupt_role
  	 left join role_purview_fixed on cqupt_role.role_id = role_purview_fixed.roleId
  	 left join resource_info on role_purview_fixed.purviewId = resource_info.resourceId
  	 where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  
  <!-- 根据角色Id和父类资源查找静态资源 -->
  <select id="findRolePurviewByRoleIdAndParent" resultMap="RolePurviewResultMap" parameterType="java.lang.Integer">
  	select
  	 <include refid="Base_Column_List" />,
  	 resource_info.resourceId,
  	 resource_info.resourceName,
  	 resource_info.resourceUrl,
  	 resource_info.resourceRemark,
  	 resource_info.parentId
  	 from cqupt_role
  	 left join role_purview_fixed on cqupt_role.role_id = role_purview_fixed.roleId
  	 left join resource_info on role_purview_fixed.purviewId = resource_info.resourceId
  	 where role_id = #{roleId,jdbcType=INTEGER}
  	 and   resource_info.parentId = #{parentId,jdbcType=INTEGER}
  </select>
  
  <select id="findRolePurviewDynRoleId" resultMap="RolePurviewDynResultMap" parameterType="java.lang.Integer">
  	select
  	 cqupt_role.role_id,
  	 cqupt_role.role_name,
  	 cqupt_role.role_level_id,
  	 cqupt_role.description,
  	 role_purview_dynamic.id,
  	 role_purview_dynamic.input,
  	 role_purview_dynamic.manage,
  	 role_purview_dynamic.approve,
  	 role_purview_dynamic.statistics,
  	 research_class.class_id,
  	 research_class.class_name,
  	 research_class.class_des,	 
  	 research_class.class_remark,
  	 research_class.is_delete,
  	 research_class.order,
  	 research_class.submittime,
  	 research_class.parent_id
  	 from cqupt_role 
  	 left join role_purview_dynamic  on cqupt_role.role_id = role_purview_dynamic.role_id
  	 left join research_class on role_purview_dynamic.class_id = research_class.class_id
  	 where cqupt_role.role_id = #{roleId,jdbcType=INTEGER}
  </select>
  
  	<!-- ************************************************************** -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cqupt_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="add" parameterType="com.cqupt.mis.rms.model.CQUPTRole" >
    insert into cqupt_role (role_id, role_name, role_level_id,description)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleLevel.id,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
  </insert>

  
  <update id="modifyByPrimaryKey" parameterType="com.cqupt.mis.rms.model.CQUPTRole" >
    update cqupt_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_level_id = #{roleLevelId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>