<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqupt.mis.rms.dao.ResearchFiledDao" >

	<!-- 科研动态字段类的映射，"f_"开头的字段是别名 -->
	<resultMap id="ResearchFiled" type="com.cqupt.mis.rms.model.ResearchFiled" >
		<id column="field_id" property="id" jdbcType="INTEGER" />
		<result column="field_name" property="name" jdbcType="VARCHAR" />
		<result column="field_des" property="description" jdbcType="VARCHAR" />
		<result column="f_is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="f_submittime" property="submittime" jdbcType="TIMESTAMP" />
		<result column="f_order" property="order" jdbcType="INTEGER" />
		<result column="is_null" property="isNull" jdbcType="INTEGER" />
		
		<association property="researchClass" resultMap="com.cqupt.mis.rms.dao.ResearchClassDao.ResearchClass" />
	</resultMap>
	
	<!-- 数据表中所有字段,`research_filed`设置别名f，个别字段有别名-->
	<sql id="ColumnList" >
		f.`field_id`, f.`class_id` AS `f_class_id`, `field_name`, `field_des`, f.`is_delete` AS `f_is_delete`, f.`submittime` AS `f_submittime`, f.`order` AS `f_order`, `is_null`
	</sql>
	
	<!-- 根据classId查找所有未删除的科研字段 -->
	<select id="findByClassId" parameterType="java.lang.Integer" resultMap="ResearchFiled">
		SELECT 
		<include refid="ColumnList"></include> ,
		c.*
		FROM `research_field` f
		LEFT JOIN `research_class` c ON	f.`class_id` = c.`class_id` 
		WHERE f.`class_id` = #{classId, jdbcType=INTEGER} AND f.`is_delete` = 0
		ORDER BY f.`order`	
	</select>
	
	<!-- 根据主键查找字段 -->
	<select id="selectByPrimaryKey" resultMap="ResearchFiled" parameterType="java.lang.Integer" >
		SELECT 
		<include refid="ColumnList"></include> ,
		c.*
		FROM `research_field` f
		LEFT JOIN `research_class` c ON	f.`class_id` = c.`class_id`
		where `filed_id` = #{id,jdbcType=INTEGER}
	</select>

	<!-- 根据classId统计当前科研项目的字段数 -->
	<select id="countByClassId" parameterType="java.lang.Integer" resultType="java.lang.Object">
		SELECT max(`order`)
		FROM `research_field`
		WHERE `class_id` = #{classId, jdbcType=INTEGER} AND `is_delete`=0
	</select>

	<!-- 检测字段数据库名是否有重名 -->
	<select id="checkNameBeforeAdd" resultMap="ResearchFiled">
		SELECT
			<include refid="ColumnList"></include>
		FROM  `research_field` f
		WHERE `class_id` = #{cId, jdbcType=INTEGER} AND `field_name`=#{name, jdbcType=VARCHAR} AND `is_delete`=0
	</select>

	<!-- 检测字段数据库名是否有重名 -->
	<select id="checkDesBeforeAdd" resultMap="ResearchFiled">
		SELECT
		<include refid="ColumnList"></include>
		FROM  `research_field` f
		WHERE `class_id` = #{cId, jdbcType=INTEGER} AND `field_des`=#{des, jdbcType=VARCHAR} AND `is_delete`=0
	</select>
	
	<!-- 根据主键假删除字段，设置`is_delete`为1，`order`为0 -->
	<update id="delete" parameterType="java.lang.Integer">
		update `research_filed`
		set `is_delete` = 1,	`order` = 0
		where `filed_id` = #{filedId, jdbcType=INTEGER}
	</update>
  
  	<!-- 根据主键删除字段（真实删除，慎用!） -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from `research_field`
		where `filed_id` = #{id,jdbcType=INTEGER}
	</delete>
  
  	<!-- 插入一条记录 -->
	<insert id="add" parameterType="com.cqupt.mis.rms.model.ResearchFiled" >
		insert into `research_field`
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != 0" >
		    `field_id`,
		  </if>
		  <if test="researchClass.classId != 0" >
		    `class_id`,
		  </if>
		  <if test="name != null" >
		    `field_name`,
		  </if>
		  <if test="description != null" >
		    `field_des`,
		  </if>
		  <if test="isDelete != 0" >
		    `is_delete`,
		  </if>
		  <if test="submittime != null" >
		    `submittime`,
		  </if>
		  <if test="order != 0" >
		    `order`,
		  </if>
	  	  <if test="isNull != 0" >
			`is_null`,
		  </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != 0" >
		    #{id,jdbcType=INTEGER},
		  </if>
		  <if test="researchClass.classId != 0" >
		    #{researchClass.classId,jdbcType=INTEGER},
		  </if>
		  <if test="name != null" >
		    #{name,jdbcType=VARCHAR},
		  </if>
		  <if test="description != null" >
		    #{description,jdbcType=VARCHAR},
		  </if>
		  <if test="isDelete != 0" >
		    #{isDelete,jdbcType=INTEGER},
		  </if>
		  <if test="submittime != null" >
		    #{submittime,jdbcType=TIMESTAMP},
		  </if>
		  <if test="order != 0" >
		    #{order,jdbcType=INTEGER},
		  </if>
		  <if test="isNull != 0" >
		  	#{isNull,jdbcType=INTEGER},
		  </if>
		</trim>
	</insert>
  
	<!-- 根据主键修改字段 -->
	<update id="modifyByPrimaryKey" parameterType="com.cqupt.mis.rms.model.ResearchFiled" >
		update `research_filed`
		<set >
		  <if test="researchClass.classId != 0" >
		    `class_id` = #{researchClass.classId,jdbcType=INTEGER},
		  </if>
		  <if test="name != null" >
		    `filed_name` = #{name,jdbcType=VARCHAR},
		  </if>
		  <if test="description != null" >
		    `filed_des` = #{description,jdbcType=VARCHAR},
		  </if>
		  <if test="isDelete != 0" >
		    `is_delete` = #{isDelete,jdbcType=INTEGER},
		  </if>
		  <if test="submittime != null" >
		    `submittime` = #{submittime,jdbcType=TIMESTAMP},
		  </if>
		  <if test="order != 0" >
		    `order` = #{order,jdbcType=INTEGER},
		  </if>
		</set>
		where `filed_id` = #{id,jdbcType=INTEGER}
	</update>
  
</mapper>