@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{}

a img{ border:0;}
#allpage{ width:800px; margin:0 auto;}
.left{ float:left;}
.right{ float:right;}
.radius{ border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px;}
.shadow{ box-shadow:6px; -webkit-box-shadow:6px; -moz-box-shadow:6px;}
.clear{ clear:both;}





































