@charset "utf-8";
/* CSS Document */

	.common{ clear:both; padding-left:40px;}
	.right{ float:right;}
	.left{ float:left;}
	.text .file{ height:25px;}
	.btn{ width:80px;}
	.btn input{ width:60px; height:25px;}
	#add{ height:25px; width:60px;}
	.clear{ clear:both;} 
